<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=http://aureus.procc.fiocruz.br/sgbmi/admin/">
        <script type="text/javascript">
            window.location.href = "http://aureus.procc.fiocruz.br/sgbmi/admin/"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        If you are not redirected automatically, follow this <a href='http://aureus.procc.fiocruz.br/sgbmi/admin/'>link admin panel</a>.
    </body>
</html>
